{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {%  for element in supports %}
            <p>
                <div>
                    {{ element.title }} ({{ element.createdAt | date}})
                    {{ element.company.label }}
                </div>
                <div>
                    <a class="btn btn-primary" href="{{path('admin_support_show', { 'id': element.id })}}">Voir la demande</a>
                    <a class="btn btn-primary" href="{{path('admin_support_update', { 'id': element.id}) }}">Modifier la demande</a>
                </div>
            </p>
        {% endfor %}

        {% if supports.haveToPaginate %}
            {{  pagerfanta(supports, 'twitter_bootstrap4') }}
        {% endif %}
    </div>
{% endblock %}