{% extends 'base.html.twig' %}

{% block body %}

    {%  for element in supports %}
        <p>
            {{ element.title }}
            {{ element.createdAt | date}}
            {{ element.company.label }}
            {{ element.description }}
            <a href="{{ path('support_show', { 'id': element.id }) }}">Voir la demande</a>
            <a href="{{ path('support_update', { 'id': element.id }) }}">Modifier la demande</a>
        </p>
    {% endfor %}
{% endblock %}