{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>{{ support.title }}</p>
        <p>{{ support.createdAt | date }}</p>
        <p>{{ support.description }}</p>
        <a href="{{ path('support_list') }}">Retour à la liste</a>

        <form method="POST" action="{{ path('support_delete', {'id': support.id}) }}">
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
            <button type="submit">Supprimer</button>
        </form>
    </div>
{% endblock %}

