{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>{{ company.label }}</p>
        <p>{{ ('company.active.'~(company.active?'1':'0')) | trans }}</p>
        <a href="{{ path('company_list') }}">Retour à la liste</a>

        <form method="POST" action="{{ path('company_delete', {'id': company.id}) }}">
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
            <button type="submit">Supprimer</button>
        </form>
    </div>
{% endblock %}

