{% extends 'base.html.twig' %}{% block body %}
    <div class="container">
        <h2> Mes demandes de support</h2>
        <table class="table">
            <tr>
                <th>Titre</th>
                <th>Date création</th>
                <th>Description</th>
                <th>Action</th>
            </tr>

            {% if mySupports.nbResults is null  %}
                <tr>
                    <td colspan="4" align="center"> Vous n'avez pas de demandes de supports associées.</td>
                </tr>
            {% else %}
                {%  for element in mySupports %}
                    <tr>
                        <td>{{ element.title }}</td>
                        <td>{{ element.createdAt | date }}</td>
                        <td>{{ element.description }}</td>
                        <td><a href="{{ path('support_show',{'id':element.id})}}">Voir la demande</a></td>
                    </tr>
                {% endfor %}
                {% if mySupports.haveToPaginate %}
                    {{  pagerfanta(mySupports, 'twitter_bootstrap4',{'pageParameter':'[mySupportPage]'}) }}
                {% endif %}
            {% endif %}
        </table>
            <h2> Les demandes de support de mon Entreprise</h2>
            <table class="table">
                <tr>
                    <th>Titre</th>
                    <th>Date création</th>
                    <th>Description</th>
                    <th>Auteur</th>
                    <th>Action</th>
                </tr>
                {% if companySupports.nbResults is null  %}
                    <tr>
                        <td colspan="5" align="center"> Il n'y a pas de demandes concernant votre entreprise.</td>
                    </tr>
                {% else %}
                    {%  for element in companySupports %}
                        {# @var element \App\Entity\Support #}
                        <tr>
                            <td>{{ element.title }}</td>
                            <td>{{ element.createdAt | date }}</td>
                            <td>{{ element.description }}</td>
                            <td>{{ element.author }}</td>
                            <td><a href="{{ path('support_show',{'id':element.id})}}">Voir la demande</a></td>
                        </tr>
                    {% endfor %}
                    {% if companySupports.haveToPaginate %}
                        {{  pagerfanta(companySupports, 'twitter_bootstrap4',{'pageParameter':'[myCompanyPage]'})}}
                    {% endif %}
                {% endif %}
            </table>
            <table>
                <tr>
                    <td colspan="4" align="center"> <a class="btn btn-primary" href="{{path('support_new')}}">Créer une demande</a></td>
                </tr>
            </table>
    </div>
{% endblock %}