{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            Mes demandes :
                <tr>
                    <th>Titre</th>
                    <th>Date création</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                {%  for support in supportsUser %}
                    <tr>
                        <td>{{ support.title }}</td>
                        <td>{{ support.createdAt | date }}</td>
                        <td>{{ support.description }}</td>
                        <td><a class="btn btn-primary" href="{{path('support_show', { 'id': support.id })}}">Voir la demande</a</td>
                    </tr>
                {% endfor %}
        </table>

        {% if supportsUser.haveToPaginate %}
            {{  pagerfanta(supportsUser, 'twitter_bootstrap4', {'pageParameter': '[pageSupportUser]'}) }}
        {% endif %}
        {% if supportsCompany is not null %}
            Les demandes de ma compagnie :
            <table class="table">
                    <tr>
                        <th>Titre</th>
                        <th>Date création</th>
                        <th>Description</th>
                        <th>Auteur</th>
                        <th>Action</th>
                    </tr>
                    {%  for support in supportsCompany %}
                        {# @var support \App\Entity\Support #}
                        <tr>
                            <td>{{ support.title }}</td>
                            <td>{{ support.createdAt | date }}</td>
                            <td>{{ support.description }}</td>
                            <td>{{ support.author }}</td>
                            <td><a class="btn btn-primary" href="{{path('support_show', { 'id': support.id })}}">Voir la demande</a</td>
                        </tr>
                    {% endfor %}
            </table>

            {% if supportsCompany.haveToPaginate %}
                {{  pagerfanta(supportsCompany, 'twitter_bootstrap4', {'pageParameter': '[pageSupportCompany]'}) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
