{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>{{ support.title }}</p>
        <p>{{ support.createdAt | date }}</p>
        <p>{{ support.description }}</p>

        {% for comment in support.comments %}
            {# @var comment \App\Entity\Comment #}
            <p>Créée le : {{ comment.createdAt|date }}</p>
            <p>Modifiée le : {{ comment.updatedAt|date   }}</p>
            <p>Auteur : {{ comment.author.username }}</p>
            <p>Description : {{ comment.content }}</p>
        {% endfor %}
        <a class="btn btn-primary" href="{{path('dashboard_dashboard')}}">Retour à la liste</a>
    </div>
{% endblock %}

